* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #2596be;
  background: linear-gradient(90deg,  #62cff4 35%, #3a71f2 100%);
}

.card {
  width: 90%;
  background: linear-gradient(135deg, #00feba, #6d8a54);
  color: #fff;
  margin: 20px auto 0;
  border-radius: 15px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebffeb;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebffeb;
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 100px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 30px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 20px;
  margin-top: 6px;
}

.error {
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  display: none;
}

@media screen and (max-width: 460px) {
  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search input {
    border: 0;
    outline: 0;
    background: #ebffeb;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    width: 0;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
  }

  .search button {
    border: 0;
    outline: 0;
    background: #ebffeb;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .search button img {
    width: 25px;
  }
}
